* {
    box-sizing: border-box;
    font-family: 'MicrosoftJhengHeiRegular', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3 {
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 100%;
    height: 56px;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 17px 22px 15px 13px;
}

#logo {
    float: left;
}

#nav {
    float: right;
}

#nav .menu {
    display: none;
}


/*banner版面*/

.banner {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-image: url(../image/header_mobile.png);
    background-position: center bottom;
}

.banner>.container {
    padding: 113px 10px 113px 10px;
}

.sloganbg {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    color: #FFFFFFFF;
}

.slogan-title {
    font-size: 36px;
    padding-top: 20px;
}

.slogan-subtitle {
    display: inline-block;
    margin: 16px 54px 20px 54px;
    font-size: 8px;
    text-align: center;
}

.slogan-subtitle>p {
    font-size: 2em;
}

.slogan-subtitle>p:first-child {
    margin: 0;
}

.slogan-subtitle>p:nth-child(3) {
    padding: 0;
    margin: 0;
    display: inline-block;
}


/*content版面*/

.content {
    background-color: #EFE9E7;
}

.content>.container {
    padding: 50px 30px 60px 30px;
}

.feature-title {
    font-size: 20px;
    color: #3d1101;
    text-align: center;
}

hr {
    display: none;
}

.intro {
    color: #3d1101;
    font-size: 18px;
    text-align: center;
}

.features-img {
    margin-top: 31px;
    border-radius: 50%;
}

.intro-title {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #3d1101;
}

.intro-title+p {
    margin-top: 11px;
    margin-bottom: 40px;
    font-size: 16px;
    text-align: left;
    color: #3d1101;
}

@media(min-width:767px) {
    .container {
        max-width: 767px;
        padding: 17px 13px 15px 13px;
        text-align: center;
    }
    .banner {
        background-image: url(../image/header_desktop.png);
    }
    .banner>.container {
        min-width: 767px;
        padding: 123px 154px 145px 154px;
    }
    br {
        display: block;
    }
    #nav img {
        display: none;
    }
    #nav .menu {
        display: block;
    }
    .menu li {
        float: left;
        margin-left: 31px;
    }
    .menu a {
        text-decoration: none;
        color: #fff;
    }
    .sloganbg {
        width: 460px;
    }
    .slogan-title {
        display: inline-block;
    }
    .slogan-subtitle {
        padding-top: 16px;
        padding-bottom: 26px;
        margin: 0;
        font-size: 8px;
    }
    .feature-title {
        position: relative;
        z-index: 1;
        background-color: aquamarine;
        display: inline-block;
    }
    .content {
        padding: 0 30px;
    }
    .intro {
        width: 33.333%;
        float: left;
    }
    .content>.intro:nth-last-child(3) {
        padding-right: 60px;
    }
    .content>.intro:nth-last-child(2) {
        padding-right: 60px;
    }
    /* .t {
        width: 60%;
        margin: 0 auto;
        height: 1px;
        position: relative;
    }
    .t hr {
        display: block;
        position: absolute;
        top: 50%;
        /* border: none;
        color: #000;
        background-color: #000;
        text-align: center;
        margin: 0 auto; 
        z-index: 0;
    } */
}

@media(min-width:1024px) {
    .container {
        min-width: 1024px;
        padding: 16px 48px 16px 42px;
    }
    .banner>.container {
        min-width: 1024px;
        padding-top: 123px;
        padding-bottom: 145px;
        padding-left: 282px;
        padding-right: 282px;
    }
}