* {
    box-sizing: border-box;
    font-family: 'MicrosoftJhengHeiRegular', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    margin: 0;
    list-style-type: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 100%;
    height: 56px;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
}

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 17px 22px 15px 13px;
}

#logo {
    float: left;
}

#nav {
    float: right;
}

#nav .menu {
    display: none;
}


/*banner版面*/

.banner {
    width: 100%;
    height: 420px;
    background-size: cover;
    background-image: url(../image/header_mobile.png);
    background-position: center bottom;
}

.banner>.container {
    padding: 113px 10px 113px 10px;
}

.sloganbg {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.35);
    color: #FFFFFFFF;
}

.slogan-title {
    font-size: 36px;
    padding-top: 20px;
}

.slogan-subtitle {
    display: inline-block;
    margin: 16px 54px 20px 54px;
    font-size: 8px;
    text-align: center;
}

.slogan-subtitle>p {
    font-size: 2em;
}

.slogan-subtitle>p:first-child {
    margin: 0;
}

.slogan-subtitle>p:nth-child(3) {
    padding: 0;
    margin: 0;
    display: inline-block;
}


/*content版面*/

.content {
    background-color: #EFE9E7;
}

.content>.container {
    padding: 50px 30px 60px 30px;
}

.feature-title {
    font-size: 20px;
    color: #3d1101;
    text-align: center;
}

hr {
    display: none;
}

.intro {
    color: #3d1101;
    font-size: 18px;
    text-align: center;
}

.features-img {
    margin-top: 31px;
    border-radius: 50%;
}

.intro-title {
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    color: #3d1101;
}

.intro-title+p {
    margin-top: 11px;
    margin-bottom: 40px;
    font-size: 16px;
    text-align: left;
    color: #3d1101;
}


/*cheif content版面*/

.chief-feature-img {
    height: 460px;
    background-image: url(../image/main_chef_brown.png);
    background-size: cover;
    background-position: right;
}

.name {
    background: #3D1101;
    font-size: 10px;
}

.name>.container {
    padding: 30px;
}

.title-cn {
    text-align: left;
    font-size: 20px;
    color: #efe9e7;
    line-height: 32px;
}

.title-en {
    text-align: left;
    font-size: 16px;
    color: #efe9e7;
}

.cherf-intro {
    width: 100%;
    font-size: 16px;
    color: #EFE9E7;
    text-align: left;
}

.recommend-title {
    text-align: center;
    color: #3D1101;
    padding-bottom: 32px;
}

.recommend-colum>img {
    float: left;
    border-radius: 50%;
}

.recommend-colum>.subtitle {
    float: left;
    line-height: 4;
    color: #3d1101;
    font-size: 18px;
    padding-left: 12px;
}

.message {
    float: left;
    font-size: 16px;
    text-align: left;
    padding-left: 80px;
    color: #3d1101;
}

.commit-name {
    float: right;
    font-size: 16px;
    color: rgba(61, 17, 0, 0.75);
    line-height: 24px;
}


/*map內容區塊*/

.map {
    height: 386px;
    margin: 0 auto;
    background-image: url(../image/Map.png);
    background-position-x: -21px;
}

.map-position {
    background: rgba(250, 250, 250, 0.70);
}

.map-position>.container {
    padding-bottom: 0;
    padding-top: 43px;
    padding-left: 10px;
    padding-right: 10px;
}

.map-title {
    font-size: 24px;
    color: #3D1101;
    text-align: center;
    margin-bottom: 38px;
}

.form-table {}

.form-table>.container {
    padding: 30px 10px 56px 10px;
}

input[type="text"] {
    width: 100%;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: inset 0px 1px 0px 0px #ECECEC;
    border-radius: 3px;
    margin-bottom: 12px;
}

input[type="radio"] {
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
    border: 1px solid #4A90E2;
    margin-right: 36px;
}

label {
    height: 20px;
    font-family: PingFangTC-Light;
    font-size: 14px;
    color: #3D1101;
    display: block;
    margin-bottom: 6px;
}

label:nth-first-child(2) {
    color: green;
}

.food {
    width: 14px;
    float: left;
    margin-right: 6px;
}

.food-title {
    width: 300px;
    margin-bottom: 8px;
}

.food-check-radio {
    height: 20px;
    margin-bottom: 30px;
}

#food-check-yes,
#food-check-no {
    float: left;
}

.form-table>.container {
    padding-bottom: 50px;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
    width: 70px;
    height: 32px;
    font-family: PingFangTC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    border-radius: 3px;
    border: none;
}

.btn-area {
    margin: 0 auto;
    float: right;
}

.reset-btn {
    background: rgba(0, 0, 0, 0.35);
    margin-right: 11px;
}

.send-btn {
    background: #F56C23;
}

@media(min-width:767px) {
    .container {
        max-width: 767px;
        padding: 17px 13px 15px 13px;
        text-align: center;
    }
    .banner {
        background-image: url(../image/header_desktop.png);
    }
    .banner>.container {
        min-width: 767px;
        padding: 123px 154px 145px 154px;
    }
    br {
        display: block;
    }
    #nav img {
        display: none;
    }
    #nav .menu {
        display: block;
    }
    .menu li {
        float: left;
        margin-left: 31px;
    }
    .menu a {
        text-decoration: none;
        color: #fff;
    }
    .sloganbg {
        width: 460px;
    }
    .slogan-title {
        display: inline-block;
    }
    .slogan-subtitle {
        padding-top: 16px;
        padding-bottom: 26px;
        margin: 0;
        font-size: 8px;
    }
    .feature-title {
        position: relative;
        z-index: 1;
        background-color: aquamarine;
        display: inline-block;
    }
    .content {
        padding: 0 30px;
    }
    .intro {
        width: 33.333%;
        float: left;
    }
    .content>.intro:nth-last-child(3) {
        padding-right: 60px;
    }
    .content>.intro:nth-last-child(2) {
        padding-right: 60px;
    }
    .chief-feature {
        padding-left: 2%;
        background: #3D1101;
    }
    .chief-feature-img {
        float: left;
        width: 48%;
    }
    .name {
        float: left;
        width: 50%;
        height: 460px;
    }
    .name>.container {
        min-width: 50%;
    }
    .recommend>.container {
        padding-top: 50px;
    }
    .recommend-colum {
        width: 33.3333%;
        float: left;
        padding-right: 20px;
    }
    .map {
        width: 50%;
        float: left;
    }
    .form-table {
        width: 48%;
        margin-left: 2%;
        float: left;
        text-align: left;
    }
    /* .t {
        width: 60%;
        margin: 0 auto;
        height: 1px;
        position: relative;
    }
    .t hr {
        display: block;
        position: absolute;
        top: 50%;
        /* border: none;
        color: #000;
        background-color: #000;
        text-align: center;
        margin: 0 auto; 
        z-index: 0;
    } */
}

@media(min-width:1024px) {
    .container {
        min-width: 1024px;
        padding: 16px 48px 16px 42px;
    }
    .banner>.container {
        min-width: 1024px;
        padding-top: 123px;
        padding-bottom: 145px;
        padding-left: 282px;
        padding-right: 282px;
    }
    .chief-feature {
        padding-left: 4%;
        background: #3D1101;
    }
    .chief-feature-img {
        float: left;
        width: 48%;
    }
    .name {
        float: left;
        width: 50%;
        height: 460px;
    }
    .name>.container {
        min-width: 35%;
    }
    .map {
        width: 50%;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }
}